body {
  line-height: 1;
  font-size: 16rem;
  color: #444;
}

p {
  word-break: keep-all;
}

.btn {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -40rem;
    width: 30rem;
    height: 1px;
    background: #333;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -40rem;
    width: 10px;
    height: 1px;
    background: #333;
    transform: rotate(45deg);
    transform-origin: right bottom;
  }
}

.btn_white {
  position: relative;
  color: $color-white;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -40rem;
    width: 30rem;
    height: 1px;
    background: $color-white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -40rem;
    width: 10px;
    height: 1px;
    background: $color-white;
    transform: rotate(45deg);
    transform-origin: right bottom;
  }
}

.inner {
  @include inner();
}

.sec {
  @include defalut();
}
