.footer {
  padding: 40px 0;
  background: #444;
  color: #f9f9f9;
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    font-style: normal;

    font-size: 15px;
    .footer_customer {
      margin: 0 0 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .tab {
        display: flex;
        gap: 30px;
      }
      > li {
        position: relative;
      }
      > li ~ li::before {
        content: "";
        position: absolute;
        top: 7px;
        left: -15px;
        width: 1px;
        height: 10px;
        transform: translate(-50%, -50%);
        background: #ddd;
      }
      .sns {
        gap: 4px;
        & i {
          padding: 5px;
          font-size: 20px;
          background: #222;
        }
      }
      & span {
        font-weight: bold;
      }
    }
  }
  .footer_wrap {
    display: flex;
    justify-content: space-between;
    .footer_address {
      margin: 0 0 10px 0;
      & ul > li {
        position: relative;
      }
      & ul > li ~ li::before {
        content: "";
        position: absolute;
        top: 7px;
        left: -15px;
        width: 1px;
        height: 10px;
        transform: translate(-50%, -50%);
        background: #ddd;
      }
      .tab {
        font-size: 13px;
      }
      .family_link {
        position: relative;
        & span {
          display: block;
          border: 1px solid #ddd;
          background: #fff;
          color: #333;
          width: 200px;
          line-height: 29px;
          padding: 0 15px;
          cursor: pointer;
        }
        & i {
          float: right;
          line-height: 29px;
          transition: 0.5s;
        }
        .fl {
          & ul {
            position: absolute;
            bottom: 29px;
            left: 0;

            border: 1px solid #ddd;
            background: #fff;
            color: #333;
            width: 200px;
            line-height: 29px;

            display: none;
            flex-direction: column;
            align-items: stretch;

            &.on {
              display: flex;
            }
            & li {
              font-size: 13px;
              &:hover {
                background: #ddd;
              }
            }

            & a {
              display: block;
              padding: 0 15px;
            }
          }
        }
      }
    }
  }
}

.family_link .fl ul li ~ li {
  border-top: 1px solid #ddd;
}

.footer .footer_call {
  margin: 0 0 20px 0;
  font-size: 13px;
}

.footer .footer_call .tab {
  gap: 10px;
}

.footer .footer_call span {
  font-size: 20px;
}

.footer .footer_copyright {
  font-size: 13px;
}
