.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $color-white;
  border-bottom: 1px solid $color-line;
  word-break: keep-all;
  z-index: 999;

  &.on {
    .inner {
      height: 80rem;
    }

    @media (max-width: 768px) {
      .gnb {
        & > ul {
          & li {
            line-height: 40px;
          }
        }
      }

      .custom_service {
        .mobile_btn {
          inset: 25rem 15rem auto auto;

          &::before,
          &::after {
            background: #444;

            &.on {
              &::before,
              &::after {
                background: #fff;
              }

              & button {
                &::before,
                &::after {
                  opacity: 0;
                }
              }
            }
          }

          & button {
            &::before,
            &::after {
              content: "";
              position: absolute;
              height: 2px;
              background: #444;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100rem;

    transition: height 0.5s;
    h1 {
      & a {
        & img {
          width: 150rem;

          @media (max-width: 768px) {
            width: 100rem;
          }
        }
      }

      @media (max-width: 768px) {
        position: fixed;
        z-index: 1000;
      }
    }
  }

  .gnb {
    & > ul {
      display: flex;
      gap: 40rem;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 0;
        padding: 150px 18px 0 18px;
      }

      & > li {
        position: relative;

        @media (max-width: 768px) {
          line-height: 40px;
        }

        > a {
          display: block;
          font-size: 18rem;
          line-height: 99rem;

          @media (max-width: 768px) {
            font-size: 15rem;
            line-height: 40rem;
            color: $color-white;
            border-bottom: 1px solid $color-white;
          }
        }
      }
    }

    @media (max-width: 768px) {
      position: fixed;
      inset: 0 auto 0 100%;
      background: linear-gradient(to bottom, #67b26f, #4ca2cd);
      width: 100%;

      transition: 0.5s;

      &.on {
        inset: 0 auto 0 0;
      }
    }
  }

  .custom_service {
    display: flex;
    align-items: center;
    gap: 30rem;

    .la_chg {
      position: relative;

      @media (max-width: 768px) {
        display: none;
      }

      & span {
        display: block;
        cursor: pointer;
      }
      & ul {
        display: none;

        position: absolute;
        top: 80rem;
        left: 0;
        width: 55rem;
        border: 1px solid $color-line;
        line-height: 29rem;

        flex-direction: column;
        align-items: stretch;

        &::before {
          content: "";
          position: absolute;
          top: -10rem;
          left: 50%;
          transform: translate(-50%, 0) rotate(45deg);
          width: 20rem;
          height: 20rem;
          background: $color-white;
          border: 1rem solid $color-line;
        }

        .on {
          display: flex;
        }

        & li {
          position: relative;
          background: $color-white;

          & a {
            display: block;
            text-align: center;
            font-size: 18rem;
          }
          & ~ li {
            border-top: 1rem solid $color-line;
          }
        }
      }
    }

    .search {
      & i {
        font-size: 20rem;
        color: $color-main;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .mobile_btn {
      display: none;
      transition: 0.5s;

      @media (max-width: 768px) {
        display: block;
        position: fixed;
        inset: 35px 15px auto auto;
        background: $color-white;
        border: 1px solid $color-line;
        z-index: 1000;
        width: 30px;
        height: 30px;

        &::before,
        &::after {
          content: "";
          position: absolute;
          inset: 13px 5px auto 5px;
          height: 2px;
          background: #000;

          transition: 0.5s;
        }
      }

      &.on {
        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        & button {
          opacity: 0;
        }
      }

      & button {
        border: none;
        outline: none;
        background: transparent;

        &::before {
          content: "";
          inset: 7px 5px auto 5px;
          position: absolute;
          height: 2px;
          background: #000;
          opacity: 1;

          transition: 0.5s;
        }

        &::after {
          content: "";
          inset: auto 5px 7px 5px;
          position: absolute;
          height: 2px;
          background: #000;
          opacity: 1;

          transition: 0.5s;
        }
      }
    }
  }
}
