.main_movie {
  position: relative;

  @media (max-width: 768px) {
    padding: 100rem 0 350rem 0;
  }

  &::before {
    content: "";
    width: 100%;
    height: 690rem;
    display: inline-block;
    position: absolute;
    top: 220rem;
    left: 0;
    background-color: #f7f7f7;
    z-index: -1;
  }
  .content {
    display: flex;
    margin: 0 0 0 auto;
    width: calc((100% - 1200rem) / 2 + 1185rem);

    > * {
      overflow: hidden;
    }
    .txt_box {
      flex: 1 0 670rem;
      & h2 {
        width: 380rem;
        font-size: 40rem;
        font-weight: 700;
        & span {
          color: $color-main;
        }
      }

      @media (max-width: 768px) {
        flex: 1;
      }
    }
    .sld {
      position: relative;
      .movie_slide {
        & figure {
          width: 500rem;
          margin-right: $size-gap;
          &:not(.slick-current) {
            filter: grayscale(1);
          }

          @media (max-width: 768px) {
            width: 300rem;
          }
        }
      }
    }
    .arrow_next {
      & i {
        position: absolute;
        top: 45%;
        right: 330rem;
        font-size: 35rem;
        background: $color-white;
        padding: 18rem;
        box-shadow: 0 14rem 28rem rgba(0, 0, 0, 0.25),
          0 10rem 10rem rgba(0, 0, 0, 0.22);
        cursor: pointer;

        @media (max-width: 768px) {
          top: 32%;
          right: 163rem;
          padding: 10rem;
          font-size: 25rem;
        }
      }
    }
  }
  .tab_txt {
    position: absolute;
    top: 260rem;
    left: 366rem;

    @media (max-width: 768px) {
      padding: 30rem;
      top: 400rem;
      left: 100rem;
      background: #fff;
    }

    .itm {
      display: none;
      flex-direction: column;

      height: 100%;

      @media (max-width: 768px) {
        height: 350rem;
      }

      & strong {
        display: block;
        margin: 0 0 8rem 0;
        font-weight: 500;

        @media (max-width: 768px) {
          font-size: 12rem;
        }
      }

      .cine {
        color: #22b453;
      }

      .free {
        color: #b42247;
      }

      & h3 {
        margin: 0 0 15rem 0;
        font-size: 40rem;
        font-weight: 500;

        @media (max-width: 768px) {
          margin: 0 0 10rem 0;
          font-size: 25rem;
        }
      }
      .info {
        margin: 0 0 40rem 0;
        position: relative;
        font-size: 14rem;
        font-weight: 300;

        @media (max-width: 768px) {
          margin: 0 0 20rem 0;
          font-size: 12rem;
        }

        & span:nth-child(1) {
          padding: 0 8rem 0 0;
        }
      }
      & p {
        margin: 0 0 80rem 0;
        width: 600rem;
        line-height: 1.5;

        @media (max-width: 768px) {
          margin: 0 0 40rem 0;
          width: 320rem;
          font-size: 14rem;
        }
      }

      &.on {
        display: block;
      }
    }
  }
}
