.main_newsletter {
  background: $color-bg-gray;
  .inner {
    display: flex;
    gap: $size-gap + 10rem;
    > * {
      flex: 1;
    }

    .img_box {
      & img {
        box-shadow: 10px 10px $color-point;
      }
    }

    .txt_box {
      padding: 230rem 0 0 0;

      @media (max-width: 768px) {
        padding: 20rem 0 0 0;
      }

      & span {
        display: block;
        margin: 0 0 10rem 0;
        position: relative;
        font-size: 24rem;
        font-weight: 300;
        color: $color-gray;
        &::before {
          content: "";
          position: absolute;
          top: -20rem;
          left: 0;
          width: 100rem;
          height: 5rem;
          background: $color-main;
        }

        @media (max-width: 768px) {
          font-size: 18rem;
        }
      }
      & h2 {
        margin: 0 0 30rem 0;
        font-size: 50rem;

        @media (max-width: 768px) {
          margin: 0 0 20rem 0;
          font-size: 32rem;
        }

        & strong {
          font-size: 50rem;
          font-weight: 700;
          color: $color-main;

          @media (max-width: 768px) {
            font-size: 40rem;
          }
        }
      }
      .desc {
        margin: 0 0 60rem 0;

        & p {
          margin: 0 0 20rem 0;
          line-height: 1.5;
        }
      }
    }
  }
}
