.main_notice {
  padding-bottom: $size-gap;
  .content {
    // display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $size-gap;
    > * {
      // flex: 1;
      overflow: hidden;
    }
    @media screen and (max-width: 768px) {
      display: grid;
    }

    .left {
      .tab_menu {
        .tab_link {
          position: relative;
          margin: 0 0 20rem 0;
          display: flex;
          gap: 10rem;
          & li {
            font-size: 25rem;
            color: $color-gray;
          }
          .on {
            font-weight: 700;
            color: $color-main;
          }

          &::after {
            content: "\e913";
            position: absolute;
            right: 0;
            font-family: xeicon;
            font-size: 24rem;
            color: #ddd;
          }
        }
        .tab_content {
          .con {
            display: none;
            height: 0;
            & ul {
              & li {
                display: flex;
                justify-content: space-between;
                padding: 10rem 0;
                border-bottom: 1px solid $color-line;
                & a {
                  // 긴 제목 말줄임 처리
                  display: block;
                  width: 250rem;
                  padding: 0 5rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
            &.on {
              display: block;
              height: auto;
            }
          }
        }
      }
    }

    .right {
      .title {
        margin: 0 0 20rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & span {
          display: block;
          font-size: 25rem;
          font-weight: 700;
          color: $color-main;
        }
        .banner_arrows {
          cursor: pointer;
          .left {
            font-size: 20rem;
          }
          .right {
            font-size: 20rem;
          }
        }
      }

      .banner_slide {
        & figure {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
