body {
  line-height: 1;
  font-size: 16rem;
  color: #444;
}

p {
  word-break: keep-all;
}

.btn {
  display: inline-block;
  position: relative;
  font-weight: 300;
}
.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -40rem;
  width: 30rem;
  height: 1px;
  background: #333;
}
.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -40rem;
  width: 10px;
  height: 1px;
  background: #333;
  transform: rotate(45deg);
  transform-origin: right bottom;
}

.btn_white {
  position: relative;
  color: #fff;
  font-weight: 300;
}
.btn_white::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -40rem;
  width: 30rem;
  height: 1px;
  background: #fff;
}
.btn_white::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -40rem;
  width: 10px;
  height: 1px;
  background: #fff;
  transform: rotate(45deg);
  transform-origin: right bottom;
}

.inner {
  max-width: 1200rem;
  margin: 0 auto;
  padding: 0 15rem;
}

.sec {
  padding: 100rem 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  word-break: keep-all;
  z-index: 999;
}
.header.on .inner {
  height: 80rem;
}
@media (max-width: 768px) {
  .header.on .gnb > ul li {
    line-height: 40px;
  }
  .header.on .custom_service .mobile_btn {
    inset: 25rem 15rem auto auto;
  }
  .header.on .custom_service .mobile_btn::before, .header.on .custom_service .mobile_btn::after {
    background: #444;
  }
  .header.on .custom_service .mobile_btn::before.on::before, .header.on .custom_service .mobile_btn::before.on::after, .header.on .custom_service .mobile_btn::after.on::before, .header.on .custom_service .mobile_btn::after.on::after {
    background: #fff;
  }
  .header.on .custom_service .mobile_btn::before.on button::before, .header.on .custom_service .mobile_btn::before.on button::after, .header.on .custom_service .mobile_btn::after.on button::before, .header.on .custom_service .mobile_btn::after.on button::after {
    opacity: 0;
  }
  .header.on .custom_service .mobile_btn button::before, .header.on .custom_service .mobile_btn button::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #444;
    opacity: 1;
  }
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100rem;
  transition: height 0.5s;
}
.header .inner h1 a img {
  width: 150rem;
}
@media (max-width: 768px) {
  .header .inner h1 a img {
    width: 100rem;
  }
}
@media (max-width: 768px) {
  .header .inner h1 {
    position: fixed;
    z-index: 1000;
  }
}
.header .gnb > ul {
  display: flex;
  gap: 40rem;
}
@media (max-width: 768px) {
  .header .gnb > ul {
    flex-direction: column;
    gap: 0;
    padding: 150px 18px 0 18px;
  }
}
.header .gnb > ul > li {
  position: relative;
}
@media (max-width: 768px) {
  .header .gnb > ul > li {
    line-height: 40px;
  }
}
.header .gnb > ul > li > a {
  display: block;
  font-size: 18rem;
  line-height: 99rem;
}
@media (max-width: 768px) {
  .header .gnb > ul > li > a {
    font-size: 15rem;
    line-height: 40rem;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}
@media (max-width: 768px) {
  .header .gnb {
    position: fixed;
    inset: 0 auto 0 100%;
    background: linear-gradient(to bottom, #67b26f, #4ca2cd);
    width: 100%;
    transition: 0.5s;
  }
  .header .gnb.on {
    inset: 0 auto 0 0;
  }
}
.header .custom_service {
  display: flex;
  align-items: center;
  gap: 30rem;
}
.header .custom_service .la_chg {
  position: relative;
}
@media (max-width: 768px) {
  .header .custom_service .la_chg {
    display: none;
  }
}
.header .custom_service .la_chg span {
  display: block;
  cursor: pointer;
}
.header .custom_service .la_chg ul {
  display: none;
  position: absolute;
  top: 80rem;
  left: 0;
  width: 55rem;
  border: 1px solid #f2f2f2;
  line-height: 29rem;
  flex-direction: column;
  align-items: stretch;
}
.header .custom_service .la_chg ul::before {
  content: "";
  position: absolute;
  top: -10rem;
  left: 50%;
  transform: translate(-50%, 0) rotate(45deg);
  width: 20rem;
  height: 20rem;
  background: #fff;
  border: 1rem solid #f2f2f2;
}
.header .custom_service .la_chg ul .on {
  display: flex;
}
.header .custom_service .la_chg ul li {
  position: relative;
  background: #fff;
}
.header .custom_service .la_chg ul li a {
  display: block;
  text-align: center;
  font-size: 18rem;
}
.header .custom_service .la_chg ul li ~ li {
  border-top: 1rem solid #f2f2f2;
}
.header .custom_service .search i {
  font-size: 20rem;
  color: #1f2e7a;
}
@media (max-width: 768px) {
  .header .custom_service .search {
    display: none;
  }
}
.header .custom_service .mobile_btn {
  display: none;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .header .custom_service .mobile_btn {
    display: block;
    position: fixed;
    inset: 35px 15px auto auto;
    background: #fff;
    border: 1px solid #f2f2f2;
    z-index: 1000;
    width: 30px;
    height: 30px;
  }
  .header .custom_service .mobile_btn::before, .header .custom_service .mobile_btn::after {
    content: "";
    position: absolute;
    inset: 13px 5px auto 5px;
    height: 2px;
    background: #000;
    transition: 0.5s;
  }
}
.header .custom_service .mobile_btn.on::before {
  transform: rotate(45deg);
}
.header .custom_service .mobile_btn.on::after {
  transform: rotate(-45deg);
}
.header .custom_service .mobile_btn.on button {
  opacity: 0;
}
.header .custom_service .mobile_btn button {
  border: none;
  outline: none;
  background: transparent;
}
.header .custom_service .mobile_btn button::before {
  content: "";
  inset: 7px 5px auto 5px;
  position: absolute;
  height: 2px;
  background: #000;
  opacity: 1;
  transition: 0.5s;
}
.header .custom_service .mobile_btn button::after {
  content: "";
  inset: auto 5px 7px 5px;
  position: absolute;
  height: 2px;
  background: #000;
  opacity: 1;
  transition: 0.5s;
}

.main_visual .main_slide .itm {
  position: relative;
  height: 100vh;
  background: url(../images/bg.jpg) no-repeat center center/cover;
}
.main_visual .main_slide .slide_wrap {
  display: flex;
  position: absolute;
  top: 100rem;
  left: 50%;
  transform: translate(-50%, 0);
  height: calc(100vh - 100rem);
}
.main_visual .main_slide .slide_wrap .img_box {
  padding: 90rem 0 0 0;
  transform: translate(13.5%, -3%);
}
@media (max-width: 768px) {
  .main_visual .main_slide .slide_wrap .img_box {
    transform: translate(-100rem, -3%);
  }
}
.main_visual .main_slide .slide_wrap .img_box img {
  width: 900rem;
  box-shadow: 0 14rem 28rem rgba(0, 0, 0, 0.25), 0 10rem 10rem rgba(0, 0, 0, 0.22);
}
@media (max-width: 768px) {
  .main_visual .main_slide .slide_wrap .img_box {
    padding: 50rem 0 0 0;
  }
}
.main_visual .main_slide .slide_wrap .txt_box {
  width: 1300rem;
  padding: 350rem 0 0 160rem;
  background: linear-gradient(to bottom, #67b26f, #4ca2cd);
  transform: translate(-8%, 0);
  z-index: -2;
}
@media (max-width: 768px) {
  .main_visual .main_slide .slide_wrap .txt_box {
    position: absolute;
    bottom: 50rem;
    width: 510rem;
    height: 380rem;
    padding: 90rem 0 0 20rem;
  }
}
.main_visual .main_slide .slide_wrap .txt_box ul {
  margin: 0 0 40rem 0;
}
.main_visual .main_slide .slide_wrap .txt_box ul li {
  font-size: 30rem;
  color: #fff;
  margin: 0 0 20rem 0;
}
.main_visual .main_slide .slide_wrap .txt_box ul li strong {
  font-weight: 500;
}
.main_visual .main_slide .slide_wrap .txt_box ul li .title {
  display: block;
  margin: 0 0 50rem 0;
  font-family: "S-CoreDream-3Light";
  font-size: 50rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .main_visual .main_slide .slide_wrap .txt_box ul li .title {
    font-size: 35rem;
  }
}
.main_visual .main_slide .slide_wrap .txt_box ul li span {
  font-weight: 300;
}
.main_visual .arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1800px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.main_visual .arrows .left {
  position: absolute;
  left: 15px;
  width: 100px;
  height: 30px;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
}
.main_visual .arrows .left::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  height: 2px;
  background: #333;
}
.main_visual .arrows .left::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  width: 20px;
  height: 2px;
  background: #333;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}
.main_visual .arrows .right {
  position: absolute;
  right: 15px;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  font-size: 12px;
}
.main_visual .arrows .right::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  height: 2px;
  background: #333;
}
.main_visual .arrows .right::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  width: 20px;
  height: 2px;
  background: #333;
  transform: rotate(45deg);
  transform-origin: right bottom;
}

.main_notice .content {
  display: flex;
  gap: 30rem;
}
.main_notice .content > * {
  flex: 1;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .main_notice .content {
    display: grid;
  }
}
.main_notice .content .left .tab_menu .tab_link {
  position: relative;
  margin: 0 0 20rem 0;
  display: flex;
  gap: 10rem;
}
.main_notice .content .left .tab_menu .tab_link li {
  font-size: 25rem;
  color: #888;
}
.main_notice .content .left .tab_menu .tab_link .on {
  font-weight: 700;
  color: #1f2e7a;
}
.main_notice .content .left .tab_menu .tab_link::after {
  content: "\e913";
  position: absolute;
  right: 0;
  font-family: xeicon;
  font-size: 24rem;
  color: #ddd;
}
.main_notice .content .left .tab_menu .tab_content .con {
  display: none;
  height: 0;
}
.main_notice .content .left .tab_menu .tab_content .con ul li {
  display: flex;
  justify-content: space-between;
  padding: 10rem 0;
  border-bottom: 1px solid #f2f2f2;
}
.main_notice .content .left .tab_menu .tab_content .con ul li a {
  display: block;
  width: 250rem;
  padding: 0 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main_notice .content .left .tab_menu .tab_content .con.on {
  display: block;
  height: auto;
}
.main_notice .content .right .title {
  margin: 0 0 20rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_notice .content .right .title span {
  display: block;
  font-size: 25rem;
  font-weight: 700;
  color: #1f2e7a;
}
.main_notice .content .right .title .banner_arrows {
  cursor: pointer;
}
.main_notice .content .right .title .banner_arrows .left {
  font-size: 20rem;
}
.main_notice .content .right .title .banner_arrows .right {
  font-size: 20rem;
}
.main_notice .content .right .banner_slide figure {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_newsletter {
  background: #f9f9f9;
}
.main_newsletter .inner {
  display: flex;
  gap: 40rem;
}
.main_newsletter .inner > * {
  flex: 1;
}
.main_newsletter .inner .img_box img {
  box-shadow: 10px 10px #33cccc;
}
.main_newsletter .inner .txt_box {
  padding: 230rem 0 0 0;
}
@media (max-width: 768px) {
  .main_newsletter .inner .txt_box {
    padding: 20rem 0 0 0;
  }
}
.main_newsletter .inner .txt_box span {
  display: block;
  margin: 0 0 10rem 0;
  position: relative;
  font-size: 24rem;
  font-weight: 300;
  color: #888;
}
.main_newsletter .inner .txt_box span::before {
  content: "";
  position: absolute;
  top: -20rem;
  left: 0;
  width: 100rem;
  height: 5rem;
  background: #1f2e7a;
}
@media (max-width: 768px) {
  .main_newsletter .inner .txt_box span {
    font-size: 18rem;
  }
}
.main_newsletter .inner .txt_box h2 {
  margin: 0 0 30rem 0;
  font-size: 50rem;
}
@media (max-width: 768px) {
  .main_newsletter .inner .txt_box h2 {
    margin: 0 0 20rem 0;
    font-size: 32rem;
  }
}
.main_newsletter .inner .txt_box h2 strong {
  font-size: 50rem;
  font-weight: 700;
  color: #1f2e7a;
}
@media (max-width: 768px) {
  .main_newsletter .inner .txt_box h2 strong {
    font-size: 40rem;
  }
}
.main_newsletter .inner .txt_box .desc {
  margin: 0 0 60rem 0;
}
.main_newsletter .inner .txt_box .desc p {
  margin: 0 0 20rem 0;
  line-height: 1.5;
}

.main_backstage {
  position: relative;
  background: url(../images/main_backstage_01.jpg) no-repeat fixed center center/cover;
  text-align: center;
}
.main_backstage .inner {
  position: relative;
}
.main_backstage h2 {
  margin: 0 0 20rem 0;
  font-size: 35rem;
  font-weight: 700;
  color: #fff;
}
.main_backstage p {
  margin: 0 0 30rem 0;
  line-height: 1.5;
  color: #fff;
}
.main_backstage::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(0, 0, 0, 0.5);
}

.main_movie {
  position: relative;
}
@media (max-width: 768px) {
  .main_movie {
    padding: 100rem 0 350rem 0;
  }
}
.main_movie::before {
  content: "";
  width: 100%;
  height: 690rem;
  display: inline-block;
  position: absolute;
  top: 220rem;
  left: 0;
  background-color: #f7f7f7;
  z-index: -1;
}
.main_movie .content {
  display: flex;
  margin: 0 0 0 auto;
  width: calc((100% - 1200rem) / 2 + 1185rem);
}
.main_movie .content > * {
  overflow: hidden;
}
.main_movie .content .txt_box {
  flex: 1 0 670rem;
}
.main_movie .content .txt_box h2 {
  width: 380rem;
  font-size: 40rem;
  font-weight: 700;
}
.main_movie .content .txt_box h2 span {
  color: #1f2e7a;
}
@media (max-width: 768px) {
  .main_movie .content .txt_box {
    flex: 1;
  }
}
.main_movie .content .sld {
  position: relative;
}
.main_movie .content .sld .movie_slide figure {
  width: 500rem;
  margin-right: 30rem;
}
.main_movie .content .sld .movie_slide figure:not(.slick-current) {
  filter: grayscale(1);
}
@media (max-width: 768px) {
  .main_movie .content .sld .movie_slide figure {
    width: 300rem;
  }
}
.main_movie .content .arrow_next i {
  position: absolute;
  top: 45%;
  right: 330rem;
  font-size: 35rem;
  background: #fff;
  padding: 18rem;
  box-shadow: 0 14rem 28rem rgba(0, 0, 0, 0.25), 0 10rem 10rem rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
@media (max-width: 768px) {
  .main_movie .content .arrow_next i {
    top: 32%;
    right: 163rem;
    padding: 10rem;
    font-size: 25rem;
  }
}
.main_movie .tab_txt {
  position: absolute;
  top: 260rem;
  left: 366rem;
}
@media (max-width: 768px) {
  .main_movie .tab_txt {
    padding: 30rem;
    top: 400rem;
    left: 100rem;
    background: #fff;
  }
}
.main_movie .tab_txt .itm {
  display: none;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 768px) {
  .main_movie .tab_txt .itm {
    height: 350rem;
  }
}
.main_movie .tab_txt .itm strong {
  display: block;
  margin: 0 0 8rem 0;
  font-weight: 500;
}
@media (max-width: 768px) {
  .main_movie .tab_txt .itm strong {
    font-size: 12rem;
  }
}
.main_movie .tab_txt .itm .cine {
  color: #22b453;
}
.main_movie .tab_txt .itm .free {
  color: #b42247;
}
.main_movie .tab_txt .itm h3 {
  margin: 0 0 15rem 0;
  font-size: 40rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .main_movie .tab_txt .itm h3 {
    margin: 0 0 10rem 0;
    font-size: 25rem;
  }
}
.main_movie .tab_txt .itm .info {
  margin: 0 0 40rem 0;
  position: relative;
  font-size: 14rem;
  font-weight: 300;
}
@media (max-width: 768px) {
  .main_movie .tab_txt .itm .info {
    margin: 0 0 20rem 0;
    font-size: 12rem;
  }
}
.main_movie .tab_txt .itm .info span:nth-child(1) {
  padding: 0 8rem 0 0;
}
.main_movie .tab_txt .itm p {
  margin: 0 0 80rem 0;
  width: 600rem;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .main_movie .tab_txt .itm p {
    margin: 0 0 40rem 0;
    width: 320rem;
    font-size: 14rem;
  }
}
.main_movie .tab_txt .itm.on {
  display: block;
}

.main_banner .inner {
  display: flex;
  gap: 30rem;
}
.main_banner .inner > div {
  flex: 1;
}
@media (max-width: 768px) {
  .main_banner .inner {
    display: grid;
  }
}
.main_banner .inner .desc {
  display: flex;
  flex-direction: column;
  gap: 70rem;
  padding: 45rem 35rem;
}
.main_banner .inner .desc strong {
  font-size: 24rem;
  color: #fff;
}
.main_banner .inner .desc .btn_white {
  display: block;
  align-self: flex-start;
}
.main_banner .inner .introduce {
  position: relative;
  height: 200rem;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)), url(../images/main_banner_01.jpg) no-repeat center center/cover;
}
.main_banner .inner .polite {
  position: relative;
  height: 200rem;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)), url(../images/main_banner_02.jpg) no-repeat center center/cover;
}
.main_banner .inner .maru {
  position: relative;
  height: 200rem;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)), url(../images/main_banner_03.jpg) no-repeat center center/cover;
  color: #fff;
}

.footer {
  padding: 40rem 0;
  background: #323b4f;
  color: #babfca;
}
.footer .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200rem;
  font-style: normal;
  font-size: 15rem;
}
.footer .inner .tab {
  display: flex;
  gap: 30rem;
}
@media (max-width: 768px) {
  .footer .inner .tab {
    flex-direction: column;
    gap: 10rem;
  }
}
.footer .inner .footer_customer {
  margin: 0 0 10rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer .inner .footer_customer {
    margin: 0 0 20rem 0;
  }
}
.footer .inner .footer_customer .tab li {
  position: relative;
}
.footer .inner .footer_customer .tab li ~ li::before {
  content: "";
  position: absolute;
  top: 7rem;
  left: -15rem;
  width: 1rem;
  height: 10rem;
  transform: translate(-50%, -50%);
  background: #ddd;
}
@media (max-width: 768px) {
  .footer .inner .footer_customer .tab li ~ li::before {
    display: none;
  }
}
.footer .inner .footer_customer .sns {
  display: flex;
  gap: 5rem;
}
.footer .inner .footer_customer .sns i {
  padding: 5rem;
  font-size: 20rem;
  background: #33cccc;
  color: #333;
  border-radius: 50%;
}
.footer .inner .footer_customer span {
  font-weight: bold;
  color: #33cccc;
}
.footer .footer_wrap {
  display: flex;
  justify-content: space-between;
}
.footer .footer_wrap .footer_address {
  margin: 0 0 10rem 0;
}
.footer .footer_wrap .footer_address .tab li {
  position: relative;
}
.footer .footer_wrap .footer_address .tab li ~ li::before {
  content: "";
  position: absolute;
  top: 7rem;
  left: -15rem;
  width: 1rem;
  height: 10rem;
  transform: translate(-50%, -50%);
  background: #ddd;
}
@media (max-width: 768px) {
  .footer .footer_wrap .footer_address .tab li ~ li::before {
    display: none;
  }
}
.footer .footer_wrap .family_link {
  position: relative;
}
.footer .footer_wrap .family_link span {
  display: block;
  border: 1rem solid #ddd;
  background: #2f3642;
  width: 180rem;
  line-height: 29rem;
  padding: 0 15rem;
  cursor: pointer;
}
.footer .footer_wrap .family_link span i {
  float: right;
  line-height: 29rem;
  transition: 0.5s;
}
.footer .footer_wrap .family_link .fl ul {
  position: absolute;
  bottom: 29rem;
  left: 0;
  border-top: 1rem solid #babfca;
  border-left: 1rem solid #babfca;
  border-right: 1rem solid #babfca;
  background: #2f3642;
  width: 180rem;
  line-height: 29rem;
  display: none;
  flex-direction: column;
  align-items: stretch;
}
.footer .footer_wrap .family_link .fl ul.on {
  display: flex;
}
.footer .footer_wrap .family_link .fl ul li {
  font-size: 13rem;
}
.footer .footer_wrap .family_link .fl a {
  display: block;
  padding: 0 15rem;
}
.footer .footer_call {
  margin: 0 0 20rem 0;
}
.footer .footer_call .tab {
  gap: 10rem;
}
.footer .footer_copyright {
  font-size: 13rem;
  color: #626a7e;
}

.to_top {
  position: fixed;
  bottom: 100rem;
  right: 100rem;
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
@media (max-width: 768rem) {
  .to_top {
    bottom: 0;
    right: 0;
  }
}
.to_top.on {
  bottom: 5%;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 768rem) {
  .to_top.on {
    bottom: 0;
  }
}
.to_top i {
  color: #fff;
  background: #1f2e7a;
  padding: 10rem;
  font-size: 20rem;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */