body {
  line-height: 1;
  font-size: 16rem;
  color: #444;
}

p {
  word-break: keep-all;
}

.inner {
  max-width: 1200rem;
  margin: 0 auto;
  padding: 0 15rem;
}

.sec {
  padding: 100rem 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  z-index: 999;
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100rem;
}
.header .inner h1 a img {
  width: 150rem;
}
.header .gnb > ul {
  display: flex;
  gap: 40rem;
}
.header .gnb > ul > li {
  position: relative;
}
.header .gnb > ul > li > a {
  display: block;
  font-size: 18rem;
  line-height: 99rem;
}
.header .custom_service {
  display: flex;
  align-items: center;
  gap: 30rem;
}
.header .custom_service .la_chg {
  position: relative;
}
.header .custom_service .la_chg span {
  display: block;
  cursor: pointer;
}
.header .custom_service .la_chg ul {
  display: none;
  position: absolute;
  top: 80rem;
  left: 0;
  width: 55rem;
  border: 1px solid #f2f2f2;
  line-height: 29rem;
  flex-direction: column;
  align-items: stretch;
}
.header .custom_service .la_chg ul::before {
  content: "";
  position: absolute;
  top: -10rem;
  left: 50%;
  transform: translate(-50%, 0) rotate(45deg);
  width: 20rem;
  height: 20rem;
  background: #fff;
  border: 1rem solid #f2f2f2;
}
.header .custom_service .la_chg ul .on {
  display: flex;
}
.header .custom_service .la_chg ul li {
  position: relative;
  background: #fff;
}
.header .custom_service .la_chg ul li a {
  display: block;
  text-align: center;
  font-size: 18rem;
}
.header .custom_service .la_chg ul li ~ li {
  border-top: 1rem solid #f2f2f2;
}
.header .custom_service .search i {
  font-size: 20rem;
  color: #263997;
}

.main_visual .main_slide .itm {
  position: relative;
  height: 100vh;
  background: url(../images/bg.jpg) no-repeat center center/cover;
}
.main_visual .main_slide .slide_wrap {
  display: flex;
  position: absolute;
  top: 100rem;
  left: 50%;
  transform: translate(-50%, 0);
  height: calc(100vh - 100rem);
}
.main_visual .main_slide .slide_wrap .img_box {
  padding: 90rem 0 0 0;
  transform: translate(13.5%, -3%);
}
.main_visual .main_slide .slide_wrap .img_box img {
  width: 900rem;
  box-shadow: 0 14rem 28rem rgba(0, 0, 0, 0.25), 0 10rem 10rem rgba(0, 0, 0, 0.22);
}
.main_visual .main_slide .slide_wrap .txt_box {
  width: 1300rem;
  padding: 350rem 0 0 160rem;
  background: linear-gradient(to bottom, #67b26f, #4ca2cd);
  transform: translate(-8%, 0);
  z-index: -2;
}
.main_visual .main_slide .slide_wrap .txt_box ul li {
  font-size: 30rem;
  color: #fff;
  margin: 0 0 20rem 0;
}
.main_visual .main_slide .slide_wrap .txt_box ul li strong {
  font-weight: 500;
}
.main_visual .main_slide .slide_wrap .txt_box ul li .title {
  display: block;
  margin: 0 0 50rem 0;
  font-family: "S-CoreDream-3Light";
  font-size: 50rem;
  font-weight: 700;
}
.main_visual .main_slide .slide_wrap .txt_box ul li span {
  font-weight: 300;
}
.main_visual .arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1800px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.main_visual .arrows .left {
  position: absolute;
  left: 15px;
  width: 100px;
  height: 30px;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
}
.main_visual .arrows .left::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  height: 2px;
  background: #333;
}
.main_visual .arrows .left::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  width: 20px;
  height: 2px;
  background: #333;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}
.main_visual .arrows .right {
  position: absolute;
  right: 15px;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  font-size: 12px;
}
.main_visual .arrows .right::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  height: 2px;
  background: #333;
}
.main_visual .arrows .right::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  width: 20px;
  height: 2px;
  background: #333;
  transform: rotate(45deg);
  transform-origin: right bottom;
}

.main_notice .inner .left .tab_menu .tab_link {
  margin: 0 0 20rem 0;
  display: flex;
  gap: 10rem;
}
.main_notice .inner .left .tab_menu .tab_link li {
  font-size: 25rem;
  color: #888;
}
.main_notice .inner .left .tab_menu .tab_link .on {
  font-weight: 500;
  color: #263997;
}
.main_notice .inner .left .tab_menu .tab_content .con ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
}
.main_notice .inner .left .tab_menu .tab_content .con ul li a {
  display: block;
  width: 250px;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}/*# sourceMappingURL=style.css.map */